.player img {
  border-radius: var(--border-radius);
  width: 3.125rem;
  height: 3.125rem;
}

.player {
  color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
  width: 100%;
  transition: var(--transition);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  padding-left: 0.15rem;
}

.mainData {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.artist {
  font-size: 0.875rem;
  color: var(--color-secondary);
  font-weight: 500;
}

.artist:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.player button {
  cursor: pointer;
}

.player .controls {
  justify-self: center;
}

.player .volume {
  justify-self: end;
}

.mainControls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.mainControls button {
  font-size: 2rem;
  background: transparent;
  border: none;
  color: var(--color-white);
  transition: var(--transition);
}

.mainControls button:hover {
  color: var(--color-blue);
}

.duration {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.duration p {
  width: 2rem;
}

.duration p:nth-child(3) {
  margin-left: -0.4rem;
}

.durationLine {
  width: 25rem;
  position: relative;
  appearance: none;
  height: .5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background: var(--color-secondary);
}

.volumeLine {
  width: 5rem;
  position: relative;
  appearance: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  height: .5rem;
  background: var(--color-secondary);
}

.durationLine::-webkit-slider-runnable-track,
.volumeLine::-webkit-slider-runnable-track {
  background: var(--color-secondary);
  height: 0.5rem;
  border-radius: var(--border-radius);
}

.durationLine::-moz-range-track,
.volumeLine::-moz-range-track {
  height: 0.5rem;
  border-radius: var(--border-radius);
}

.durationLine::-webkit-slider-thumb,
.volumeLine::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.durationLine::-moz-range-thumb,
.volumeLine::-moz-range-thumb {
  -moz-appearance: none;
  background: transparent;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  border: none;
}


.durationLine:hover::-webkit-slider-thumb,
.volumeLine:hover::-webkit-slider-thumb {
  background: #fff;
  box-shadow: 0 0 0 0.25rem #fff;
  height: 0.75rem;
  width: 0.75rem;
}

.durationLine:hover::-moz-range-thumb,
.volumeLine:hover::-moz-range-thumb {
  background: #fff;
  height: 1.2rem;
  width: 1.2rem;
}

.durationLine,
.volumeLine {
  background-image: linear-gradient(
    to right,
    var(--color-white) 0%,
    var(--color-white) var(--timing),
    var(--color-secondary) var(--timing),
    var(--color-secondary) 100%
  );
}

.durationLine:hover,
.volumeLine:hover {
  background-image: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-blue) var(--timing),
    var(--color-secondary) var(--timing),
    var(--color-secondary) 100%
  );
}

.durationLine::before,
.volumeLine::before {
  content: "";
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: var(--timing);
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
}

.durationLine:hover::before,
.volumeLine:hover::before {
  background-color: var(--color-blue);
}


.volume {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
.durationLine {
  width: 8rem;
}

.title {
  font-size: 1rem;
}

.artist {
  font-size: .875rem;
}
}

